/* general */
body{
    font-family: "Open Sans", sans-serif;
}

/* Hero Section */
#hero{
    background-image: url(../img/hero-bg.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    font-family: "Raleway", sans-serif;
}

#hero::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
}

#hero .container{
    text-align: center;
}

#hero h1{
    color: #ffffff;
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 25px;
}

#hero h2{
    color: #dadada;
    font-size: 20px;
    line-height: 1.4;
}

.btn-play{
    background: radial-gradient(#009961 50%, rgba(0, 153, 97, 0.4) 52%);
    width: 94px;
    height: 94px;
    display: inline-block;
    border-radius: 50%;
    margin-top: 30px;
    position: relative;
}

.btn-play::before{
    border: 5px solid rgba(0, 153, 97, 0.6);
    content: '';
    width: 120px;
    height: 120px;
    animation-name: progression;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    left: -13px;
    top: -13px;
    position: absolute;
    border-radius: 50%;

}

.btn-play::after{
    content: '';
    top: 36px;
    left: 40px;
    position: absolute;
    border-left: 18px solid white;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

@media(min-width:1024px){
    #hero{
        background-attachment: fixed;
    }
}

@media(min-width:992px){
    
    #hero h1{
        font-size: 48px;
    }

    #hero h2{
        font-size: 28px;
    }
}

@keyframes progression{
    0%{
        transform: scale(0.6, 0.6);
        opacity: 1;
    }
    100%{
        transform: scale(1, 1);
        opacity: 0;
    }
}

/* About Us */
#about{
    margin-top: 6em;
}

#about h1{
    font-weight: 700;
    color: #555755;
    position: relative;
    margin-bottom: 1em;
}

#about h1::after{
    content: "";
    position: absolute;
    top: 60px;
    left: 0;
    width: 60px;
    height: 5px;
    background: #009961;
}

.about-head p{
    color: #707270;
}

.about-desc{
    margin-top: 2em;
    margin-bottom: 4em;
    color: #393a39;
}

.about-desc ul li{
    position: relative;
    padding-left: 2.5em;
    margin-bottom: 0.8em;
}

.about-desc ul li i{
    color: #009961;
    font-size: 24px;
    font-weight: 500;
    position: absolute;
    top: -5px;
    left: 0;
}

.about-desc a{
    border: 2px solid #009961;
    padding: 10px 25px;
    border-radius: 50px;
    margin-top: 1em;
    display: inline-block;
    color: #009961;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 2px;
    text-decoration: none;
    transition: background-color 0.8s ease-out;
}

.about-desc a:hover{
    background-color: #009961;
    color: white;
}